
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    padding: 0;
}
li{
    color: #2E2F42;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
border-radius: 4px;
border: 1px solid #808080;
padding: 8px 0 8px 16px;
}
ul#categories{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 440px;
    padding: 24px;
    margin-top: 0;

}
h2{
    color: #2E2F42;
font-size: 24px;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: 0.96px;
margin: 0;
}
.item{
    background-color: #F6F6FE;
    border-radius: 8px;
    padding: 16px;
    max-width: 392px;
    border: none;
}

